label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 
 .fileUploadStage{
   margin-bottom: 40px;
   
 }
 
 .attachBtn{
   font-size:1.5em;  
 }
 
   .newPost{
     width:auto;
   }
 
   #stageUploadedImgFile{
    width:100%;
   }

      .my-drop-zone { border: dotted 3px lightgray; }
     .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
     .another-file-over-class { border: dotted 3px green; }