<div *ngIf="legislator">

  <figure class="snip1344" (click)="gotoLegislator(legislator)">
    <img src="{{legislator.photo_url}}" alt="profile-sample1" class="background"/>
    <img src="{{legislator.photo_url}}" alt="profile-sample1" class="profile"/>
    <figcaption>
      <h3>{{legislator.full_name}}
      <div>State: {{legislator.state}}</div>
      <div>District: {{legislator.district}}</div>          
      <div>Chamber: {{legislator.chamber}}</div>
      <div>Party: {{legislator.party}}</div>          
    </h3>
    </figcaption>
  </figure>
</div>
