/*
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
*/
body{
  margin-top: auto;
    background-color: #f1f1f1;
  }
  .border{
    border-bottom:1px solid #F1F1F1;
    margin-bottom:10px;
  }
  .main-secction{
    box-shadow: 10px 10px 10px;
  }
  .image-section{
    padding: 0px;
  }
  .image-section img{
    width: 100%;
    height:250px;
    position: relative;
  }
  .user-image{
    position: absolute;
    margin-top:-50px;
  }
  .user-left-part{
    margin: 0px;
  }
  .user-image img{
    width:100px;
    height:100px;
  }
  .user-profil-part{
    padding-bottom:30px;
    background-color:#FAFAFA;
  }
  .follow{    
    margin-top:70px;   
  }
  .user-detail-row{
    margin:0px; 
  }
  .user-detail-section2 p{
    font-size:12px;
    padding: 0px;
    margin: 0px;
  }
  .user-detail-section2{
    margin-top:10px;
  }
  .user-detail-section2 span{
    color:#7CBBC3;
    font-size: 20px;
  }
  .user-detail-section2 small{
    font-size:12px;
    color:#D3A86A;
  }
  .profile-right-section{
    padding: 20px 0px 10px 15px;
    background-color: #FFFFFF;  
  }
  .profile-right-section-row{
    margin: 0px;
  }
  .profile-header-section1 h1{
    font-size: 25px;
    margin: 0px;
  }
  .profile-header-section1 h5{
    color: #0062cc;
  }
  .req-btn{
    height:30px;
    font-size:12px;
  }
  .profile-tag{
    padding: 10px;
    border:1px solid #F6F6F6;
  }
  .profile-tag p{
    font-size: 12px;
    color:black;
  }
  .profile-tag i{
    color:#ADADAD;
    font-size: 20px;
  }
  .image-right-part{
    background-color: #FCFCFC;
    margin: 0px;
    padding: 5px;
  }
  .img-main-rightPart{
    background-color: #FCFCFC;
    margin-top: auto;
  }
  .image-right-detail{
    padding: 0px;
  }
  .image-right-detail p{
    font-size: 12px;
  }
  .image-right-detail a:hover{
    text-decoration: none;
  }
  .image-right img{
    width: 100%;
  }
  .image-right-detail-section2{
    margin: 0px;
  }
  .image-right-detail-section2 p{
    color:#38ACDF;
    margin:0px;
  }
  .image-right-detail-section2 span{
    color:#7F7F7F;
  }

  .nav-link{
    font-size: 1.2em;    
  }
  
  /**/
  .user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
  .user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
  .user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
   .navigation li {float: left; margin: 0; padding: 0;}
    .navigation li a {padding: 20px 30px; float: left;}
    .navigation li.active a {background: #428BCA; color: #fff;}
  .user-info-block .user-body {float: left; padding: 5%; width: 90%;}
   .user-body .tab-content > div {float: left; width: 100%;}
   .user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
   /**********/
  .card-nav-tabs{
    position: relative;
    top: 50px;
}

.div.card .card-body{
  padding: 15px 30px;
}

.card-header-primary {
  /*background: linear-gradient(60deg,#ab47bc,#7b1fa2);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);*/
  background: linear-gradient(60deg,#12A89D,#12A89D);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #12A89D;
}

/*div.card .card-header-primary {
  background: linear-gradient(60deg, #12e4d9,#12A89D);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(18, 168, 157, 0.6);
}*/

div.card .card-header-danger {
  background: linear-gradient(60deg,#ef5350,#d32f2f);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
}

.nav-tabs {
  border: 0;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: hsla(0,0%,100%,.2);
  transition: background-color .3s .2s;
}

.nav-tabs .nav-item .nav-link {
  color: #fff;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: background-color .3s 0s;
}


.nav-tabs .nav-item .material-icons {
  margin: -1px 5px 0 0;
  vertical-align: middle;
}
/**/
@media only screen and (max-width: 600px) {
  .card-nav-tabs{
      position: relative !important;
      top: -10px !important;
  }

  .twPc-bg {
      /* background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200"); */
      /* background-position: 0 50%; */
      /* background-size: 100% auto; */
      /* border-bottom: 1px solid #e1e8ed; */
      /* border-radius: 4px 4px 0 0; */
      height: 50px;
      /*width: 100%;*/
  }
  .twPc-block {
      display: block !important;
  }

  .twPc-avatarLink {
      background-color: #fff;
      border-radius: 6px;
      display: inline-block !important;
      float: left;
      margin: -30px 5px 0 8px;
      max-width: 100%;
      padding: 1px;
      vertical-align: bottom;
  }
  .twPc-avatarImg {
      position: relative;
      left: 7px;
      border: 2px solid #fff;
      border-radius: 7px;
      /* box-sizing: border-box; */
      /* color: #fff; */
      height: 120px;
      width: 120px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
  }
  .twPc-divName {
      font-size: 22px;
      font-weight: 400;
      line-height: 21px;
      position: relative;
      left: 30px;
  }
  .text-shade, .text-shade > a{
      color: #747474 !important;
      text-decoration: none;
  }
  .font-15px{
      font-size: 15px;
  }
  .twPc-divName-span {
      top: -40px !important;
      line-height: 71px;
      position: relative;
      left: 160px !important;
  }
  .profile-with-name-and-follow-btn{
      position: relative;
      top: 80px;
  }
  .profile-image{
      position: relative;
      top: 15px;
  }
  .btn {
      font-size: .8rem !important;
      padding: .30rem 1rem !important;
      margin: 6px !important;
      border-radius: 5px !important;
      border: 0 !important;
      -webkit-transition: .2s ease-out !important;
      transition: .2s ease-out !important;
      white-space: normal!important;
      cursor: pointer !important;
  }
  .btn-primary {
      background-color: #12A89D !important;
  }
  .twPc-divStats {
      margin-left: 11px;
      padding: 10px 0;
  }
  .twPc-Arrange {
      box-sizing: border-box;
      display: table;
      margin: 0;
      min-width: 100%;
      padding: 0;
      table-layout: auto;
  }
  ul.twPc-Arrange {
      list-style: outside none none;
      margin: 0;
      padding: 0;
  }
  .twPc-ArrangeSizeFit {
      display: table-cell;
      padding: 0;
      vertical-align: top;
  }
  .twPc-ArrangeSizeFit a:hover {
      text-decoration: none;
  }
  .twPc-StatValue {
      display: block;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.15s ease-in-out 0s;
  }
  .twPc-StatLabel {
      color: #8899a6;
      font-size: 10px;
      letter-spacing: 0.02em;
      overflow: hidden;
      text-transform: uppercase;
      transition: color 0.15s ease-in-out 0s;
  }

  .div.card .card-body{
      padding: 15px 30px;
  }

  div.card .card-header-primary {
      background: linear-gradient(60deg,#12A89D,#12A89D);
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #12A89D;
  }

  div.card .card-header-danger {
      background: linear-gradient(60deg,#ef5350,#d32f2f);
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
  }


  .nav-tabs {
      border: 0;
  }

  .nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }

  .nav-tabs .nav-item .nav-link.active {
      background-color: hsla(0,0%,100%,.2);
      transition: background-color .3s .2s;
  }

  .nav-tabs .nav-item .nav-link {
      color: #fff;
      border: 0;
      margin: 0;
      border-radius: 3px;
      line-height: 24px;
      text-transform: uppercase;
      font-size: 12px;
      padding: 10px 15px;
      background-color: transparent;
      transition: background-color .3s 0s;
  }


  .nav-tabs .nav-item .material-icons {
      margin: -1px 5px 0 0;
      vertical-align: middle;
  }
  .group {
      position: relative;
      margin-bottom: 45px;
  }

  .group input:focus {
      outline: none;
  }
  /* LABEL ======================================= */

  .group label {
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 5px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
  }
  /* active durum */

  .group input:focus ~ label,
  input:valid ~ label {
      top: -20px;
      font-size: 14px;
  }
  .span-input{
      font-size: 15px;
      color: #12A89D;
  }
  .input-ikon {
      font-size: 25px!important;
      position: relative;
      top: 6px;
      color: #12A89D;
  }
  .text-success{
      color: #70C170 !important;
  }
}